.navbar .add-item {
	position: relative;
	cursor: pointer;

	transition-duration: var(--bulma-duration);
  	transition-property: background-color, border-color, color;
	background-color: hsla(var(--bulma-navbar-h), var(--bulma-navbar-s), calc(var(--bulma-navbar-item-background-l) + var(--bulma-navbar-item-background-l-delta)), var(--bulma-navbar-item-background-a));
}

.navbar .add-item:hover {
	--bulma-navbar-item-background-l-delta: var(--bulma-navbar-item-hover-background-l-delta);
	--bulma-navbar-item-background-a: 1;
}

.navbar .add-item input {
	cursor: pointer;

	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	opacity: 0;
}

.navbar .navbar-item.active {
	background: hsl(198, 100%, 60%);
}