.navbar .add-item {
	position: relative;
	cursor: pointer;

	transition-duration: var(--bulma-duration);
	transition-property: background-color, border-color, color;
	background-color: hsla(var(--bulma-navbar-h), var(--bulma-navbar-s), calc(var(--bulma-navbar-item-background-l) + var(--bulma-navbar-item-background-l-delta)), var(--bulma-navbar-item-background-a));
}

.navbar .add-item:hover {
	--bulma-navbar-item-background-l-delta: var(--bulma-navbar-item-hover-background-l-delta);
	--bulma-navbar-item-background-a: 1;
}

.navbar .add-item input {
	cursor: pointer;

	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	opacity: 0;
}

.navbar.is-info .navbar-item.active {
	background: hsl(198, 100%, 60%);
}

.navbar.is-success .navbar-item.active {
	background: hsl(153, 53%, 43%)
}

@keyframes save-swing {
	25% {
		transform: rotate3d(0, 0, 1, 15deg);
	}

	50% {
		transform: rotate3d(0, 0, 1, 0);
	}

	75% {
		transform: rotate3d(0, 0, 1, -15deg);
	}

	to {
		transform: rotate3d(0, 0, 1, 0);
	}
}

.save-icon.busy {
	transform-origin: center center;
	animation-name: save-swing;
	animation-iteration-count: infinite;
	animation-duration: 1s;
	opacity: 1;
}

.save-icon {
	transition: opacity 1s;
	opacity: 0;
}